sources/Makefile
sources/Makefile.in
sources/gen/*
sources/gen/
*.zip
*.adf
*.o
*~
.dirstamp
.deps
config.log
config.status
stamp-h1
configure
autom4te.cache/
compile
depcomp
missing
ltmain.sh
aclocal.m4
config.h
test-driver
config.guess
config.sub
install-sh
config.h.in
kick.*
fsuae_libretro.so
Makefile
